@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro BoldItalic"), local("Gotham-Pro-BoldItalic"), url("../fonts/GothamPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Italic"), local("Gotham-Pro-Italic"), url("../fonts/GothamPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Medium"), local("Gotham-Pro-Medium"), url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro BlackItalic"), local("Gotham-Pro-BlackItalic"), url("../fonts/GothamPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Bold"), local("Gotham-Pro-Bold"), url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro LightItalic"), local("Gotham-Pro-LightItalic"), url("../fonts/GothamPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Light"), local("Gotham-Pro-Light"), url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Black"), local("Gotham-Pro-Black"), url("../fonts/GothamPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro"), local("Gotham-Pro"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro MediumItalic"), local("Gotham-Pro-MediumItalic"), url("../fonts/GothamPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Gotham Pro';
  font-weight: 400;
  overflow-x: hidden;
}
p {
  margin: 0;
}
.list__orange {
  padding-left: 19px;
  position: relative;
}
.list__orange::after {
  content: '';
  position: absolute;
  background-color: #E46C00;
  width: 10px;
  height: 10px;
  left: 0;
  border-radius: 50%;
  top: 5px;
}
ul {
  margin: 0;
}
.header ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
}
.header__background {
  background-color: #EAEAEA;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__info a {
  color: #000;
  text-decoration: none;
}
.header__info > li {
  display: flex;
  align-items: center;
  position: relative;
}
.header__info > li::before {
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 2px;
}
.header__icon--phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__icon--location {
  padding-left: 24px;
}
.header__icon--location::before {
  width: 16px;
  height: 24px;
  background-image: url(../img/location-pin.png);
}
.header__icon--time {
  padding-left: 33px;
}
.header__icon--time::before {
  width: 23px;
  height: 23px;
  background-image: url(../img/clock.png);
}
.header__icon--email {
  padding-left: 35px;
}
.header__icon--email::before {
  width: 27px;
  height: 21px;
  background-image: url(../img/email.png);
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  background-color: #2F3C07;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo img {
  max-width: 100%;
}
.header__nav {
  width: 74%;
}
.header__item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  font-size: 13px;
  font-weight: bold;
  position: relative;
}
.header__list a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  height: 58px;
  display: flex;
  align-items: center;
}
.header__list a:hover,
.header__list a:target,
.header__list a:active {
  color: #e46c00;
}
.header__list a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: inherit;
  position: absolute;
  left: 0;
  transform: translateY(0);
  transition: 0.2s;
}
.header__list a:hover:after {
  background-color: #e46c00;
  transform: translateY(-12px);
}
.header__list__sub {
  padding: 14px 5px  14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}
.header__list__sub::after {
  content: '';
  width: 7px;
  height: 10px;
  position: relative;
}
.header__list__sub:hover,
.header__list__sub:target,
.header__list__sub:active {
  background-color: #E46C00;
}
.header__list__sub:last-child {
  border-bottom: none;
}
.header__list__sub.arrow::after {
  background-image: url(../img/arow.png);
  background-position: center;
  background-size: cover;
}
.header__item__sub {
  position: absolute;
  display: none;
  z-index: 9;
  width: 234px;
  max-width: 235px;
  background-color: #fff;
  top: 0;
  min-height: 287px;
}
.header__item__sub.one {
  top: 58px;
  left: 0;
}
.header__item__sub.two {
  background-color: #b3b3b3;
  left: 234px;
}
.header__item__sub.three {
  left: 234px;
}
.header__list--sub:hover .header__item__sub.one {
  display: block;
}
.header__list__sub.one.arrow:hover .header__item__sub.two {
  display: block;
}
.header__list__sub.two.arrow:hover .header__item__sub.three {
  display: block;
}
.btn {
  background-color: #e46c00;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #e46c00;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #ffffff;
}
.header__list--sub a {
  padding-right: 20px;
  position: relative;
}
.header__list--sub a::before {
  content: '';
  background-image: url(../img/triangle.svg);
  width: 10px;
  height: 7px;
  background-size: cover;
  position: absolute;
  right: 0;
}
.header__list--sub a:hover:before {
  background-image: url(../img/triangle-hover.svg);
}
.baner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
}
.baner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 40%;
  width: 100%;
  height: 100%;
  background-image: url(../img/back-img.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.baner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-position: center center;
  background-repeat: repeat;
  z-index: 1;
}
.baner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.baner__left {
  color: #fff;
  width: 58.33%;
  padding-right: 8.33%;
  padding-top: 60px;
  padding-bottom: 50px;
}
.baner__header--white {
  font-size: 36px;
  font-weight: bold;
}
.baner__sentence {
  background-color: #e46c00;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.baner__item {
  list-style: none;
}
.baner__list {
  padding: 10px;
  padding-left: 50px;
  font-size: 20px;
  position: relative;
}
.baner__list::after {
  content: '';
  left: 0;
  top: 6px;
  position: absolute;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
}
.baner__list--warranty::after {
  background-image: url(../img/warranty.png);
}
.baner__list--masters::after {
  background-image: url(../img/manager.png);
}
.baner__list--deadline::after {
  background-image: url(../img/warranty1.png);
}
.baner__list--photoreport::after {
  background-image: url(../img/camera.png);
}
.baner__list--cleaning::after {
  background-image: url(../img/clean.png);
}
.baner__right {
  width: 41.66%;
  padding-left: 12%;
  text-align: center;
}
.baner__header--black {
  text-transform: uppercase;
  margin: 0;
  line-height: 32px;
  font-size: 31px;
}
.baner__text {
  font-size: 21px;
  line-height: 20px;
}
.baner__text span {
  color: #95320b;
  font-weight: bold;
  font-size: 15px;
}
.baner__input {
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.baner__submit {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px #b3b3b3;
  font-size: 16px;
}
.services {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section__header {
  text-align: center;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}
.section__header::after {
  content: '';
  width: 38%;
  position: absolute;
  height: 4px;
  background-color: #e46c00;
  left: 0;
  top: 50%;
}
.section__header::before {
  content: '';
  width: 38%;
  position: absolute;
  height: 4px;
  background-color: #e46c00;
  right: 0;
  top: 50%;
}
.redhead {
  color: #e46c00;
}
.services__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}
.services__list {
  width: 18%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.services__list img {
  width: 50%;
  height: 100px;
  margin-bottom: 10px;
}
.aboutus {
  padding-top: 50px;
  padding-bottom: 30px;
  background-image: url(../img/background.png);
  background-repeat: repeat;
  margin-bottom: 50px;
}
.aboutus__header {
  margin-bottom: 50px;
}
.aboutus__header::before,
.aboutus__header::after {
  width: 44%;
}
.aboutus__video {
  width: 100%;
  margin-bottom: 15px;
}
.aboutus__item {
  list-style: none;
}
.aboutus__list {
  margin-bottom: 15px;
}
.aboutus__list:before {
  content: ' ';
  border-radius: 50%;
  background-color: #e46c00;
  padding-right: 10px;
  font-size: 10px;
  margin-right: 5px;
}
.aboutus__left,
.aboutus__right {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
}
.aboutus__item li iframe {
  width: 100%;
  height: 315px;
}
.price__header {
  margin-bottom: 50px;
}
.price__header::before,
.price__header::after {
  width: 36%;
}
.price__calc {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 7px 14.72px 1.28px rgba(5, 5, 5, 0.17);
  margin-bottom: 50px;
  background-color: #ffffff;
}
.price__calc ul {
  list-style: none;
}
.price__tab--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #EF994C;
}
.price__tab--list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  font-weight: lighter;
  width: 20%;
  position: relative;
  text-align: center;
}
.price__tab--list::before {
  content: '';
  right: -1px;
  position: absolute;
  background-color: #ffffff;
  width: 1px;
  height: 60%;
}
.price__tab--list:hover:after {
  content: none;
}
.price__tab--list:hover:before {
  content: none;
}
.price__tab--list:hover,
.price__tab--list:active {
  background-color: #E46C00;
  font-weight: bold;
}
.price__tab--item .active {
  background-color: #E46C00;
  font-weight: bold;
}
.price__tab--item .active::after {
  content: none;
}
.price__tab--item .active::before {
  content: none;
}
.price__cotent {
  padding: 30px 38px;
}
.price__cotent__header--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__cotent__header--list {
  font-weight: 500;
  margin-bottom: 20px;
  width: 50%;
}
.price__cotent__header--list:nth-child(n + 2) {
  width: 12%;
  text-align: center;
}
.price__cotent__main--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__cotent__main--list {
  font-weight: lighter;
  margin-bottom: 20px;
  width: 50%;
}
.price__cotent__main--list:nth-child(n + 2) {
  width: 12%;
  text-align: center;
}
.price__cotent__main--list input {
  width: 90%;
  text-align: center;
  font-weight: lighter;
}
.price__btn {
  margin: 0 auto;
  min-height: 57px;
  margin-bottom: 54px;
  font-size: 20px;
}
.key {
  background-image: url(../img/background.png);
  padding-top: 50px;
  padding-bottom: 50px;
}
.key ul {
  list-style: none;
}
.key__header {
  margin-bottom: 50px;
}
.key__header::before,
.key__header::after {
  width: 28%;
}
.key__tab--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  margin: 0 auto;
}
.key__tab--item .active {
  background-color: #e46c00;
}
.key__tab--list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  width: 183px;
  height: 54px;
  cursor: pointer;
  margin-bottom: 33px;
}
.key__tab--list:hover {
  background-color: #e46c00;
}
.key__content--item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.key__content--list {
  background-color: #fff;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.key__content--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.key__image {
  margin-bottom: 34px;
  height: 100%;
  max-height: 284px;
  width: 100%;
}
.key__content__header {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 18px;
}
.key__text--item {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
.key__price {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 57px;
}
.key__price span {
  font-size: 35px;
  font-weight: bold;
}
.key__btn {
  width: 294px;
  height: 57px;
  margin-bottom: 33px;
  font-size: 20px;
}
.calc__header {
  margin-bottom: 50px;
}
.calc__header::before,
.calc__header::after {
  width: 31%;
}
.calc__block {
  border: 6px solid #E46C00;
  border-radius: 1px;
  padding: 50px 118px 60px;
}
.calc__tab--item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.calc__tab--item .active {
  background-color: #e46c00;
}
.calc__tab--list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  width: 183px;
  height: 54px;
  cursor: pointer;
  margin-bottom: 42px;
}
.calc__tab--list:hover {
  background-color: #e46c00;
}
.calc__content {
  display: flex;
  flex-direction: column;
}
.calc__text__user {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}
.calc__input {
  text-align: center;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e88300;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2.5px solid #e88300;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffeed9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e88300;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2.5px solid #e88300;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #e88300;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2.5px solid #e88300;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e88300;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffeed9;
}
.calc {
  margin-top: 50px;
  margin-bottom: 50px;
}
.calc__worm__input {
  width: 100%;
}
.calc__worm {
  position: relative;
  margin-bottom: 40px;
}
.calc__num--top {
  position: absolute;
  top: -30px;
  width: 30px;
  margin-left: -20px;
  text-align: center;
}
.calc__num--left {
  position: absolute;
  left: 0;
}
.calc__num--right {
  position: absolute;
  right: 0;
}
.calc__header__input {
  font-size: 25px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 25px;
}
.calc__radio,
.calc__radio__btn {
  display: none;
}
.calc__repairs {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 21px;
}
.calc__view {
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}
.calc__view::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  left: 0;
}
.calc__view:hover {
  color: #000;
}
.calc__view--active {
  color: #000;
}
.calc__view--active::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #E46C00;
  left: 3px;
}
.calc__text__value {
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 40px;
}
.calc__text__value span {
  font-weight: bold;
}
.calc__form {
  display: flex;
  justify-content: space-between;
  width: 664px;
  align-items: center;
  margin: 0 auto;
}
.calc__form--phone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  font-weight: lighter;
  font-size: 20px;
  border-radius: 5px;
  max-width: 320px;
  width: 100%;
  height: 65px;
}
.calc__form--submit {
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  max-width: 320px;
  width: 100%;
  height: 65px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.examples__wrap {
  width: 100%;
  position: relative;
}
.examples__wrap .examples__prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.examples__wrap .examples__prev:hover .arrow-left {
  opacity: 1;
}
.examples__wrap .examples__prev .arrow-left {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-prev.png) center no-repeat;
  transform: translate(-50%);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.examples__wrap .examples__next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  right: 0;
}
.examples__wrap .examples__next:hover .arrow-right {
  opacity: 1;
}
.examples__wrap .examples__next .arrow-right {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-next.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.examples {
  background-image: url(../img/background.png);
  padding-top: 50px;
  padding-bottom: 50px;
}
.examples ul {
  list-style: none;
}
.examples__slider--item {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.14);
  margin-left: 8%;
  margin-right: 8%;
}
.examples__left {
  width: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.examples__left img {
  height: 100%;
}
.examples__right {
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 23px;
  padding-bottom: 39px;
}
.examples__list {
  font-size: 18px;
  font-weight: lighter;
}
.examples__list span {
  font-weight: bold;
}
.examples__header__slide {
  font-size: 20px;
  font-weight: bold;
}
.examples__btn {
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  max-width: 276px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade:not(.show) {
  opacity: inherit;
}
.examples__header {
  margin-bottom: 50px;
}
.examples__header::before,
.examples__header::after {
  width: 31%;
}
.reviews__header {
  margin-bottom: 50px;
}
.reviews__header::before,
.reviews__header::after {
  width: 34%;
}
.reviews__wrap {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.reviews__wrap .reviews__prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.reviews__wrap .reviews__prev:hover .arrow-left {
  opacity: 1;
}
.reviews__wrap .reviews__prev .arrow-left {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-prev.png) center no-repeat;
  transform: translate(-50%);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.reviews__wrap .reviews__next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  right: 0;
}
.reviews__wrap .reviews__next:hover .arrow-right {
  opacity: 1;
}
.reviews__wrap .reviews__next .arrow-right {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-next.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews ul {
  list-style: none;
}
.reviews__slider--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDF5ED;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.14);
  margin-left: 8%;
  margin-right: 8%;
}
.reviews__left {
  width: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 346px;
}
.reviews__left iframe {
  min-height: 346px;
  height: 100%;
  width: 100%;
}
.reviews__right {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 23px;
  padding-bottom: 39px;
}
.reviews__list {
  font-size: 18px;
  font-weight: lighter;
}
.reviews__list span {
  font-weight: bold;
}
.reviews_cols__wrap {
  width: 100%;
  position: relative;
}
.reviews_cols__wrap .reviews_cols__prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.reviews_cols__wrap .reviews_cols__prev:hover .arrow-left {
  opacity: 1;
}
.reviews_cols__wrap .reviews_cols__prev .arrow-left {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-prev.png) center no-repeat;
  transform: translate(-50%);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.reviews_cols__wrap .reviews_cols__next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  right: 0;
}
.reviews_cols__wrap .reviews_cols__next:hover .arrow-right {
  opacity: 1;
}
.reviews_cols__wrap .reviews_cols__next .arrow-right {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-next.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.reviews_cols {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews_cols__slider--item {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}
.reviews_cols__block {
  width: 100%;
  border: 2px solid #b8b8b8;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 27px;
  padding-bottom: 14px;
  position: relative;
  border-radius: 5px;
}
.reviews_cols__block::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  background-image: url(../img/cavicon.png);
  width: 98px;
  height: 67px;
  background-position: center;
  background-size: cover;
}
.reviews_cols__name {
  font-size: 22px;
  width: 20%;
  margin-bottom: 77px;
}
.reviews_cols__text {
  font-weight: lighter;
  margin-bottom: 49px;
}
.reviews_cols__bottom_block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.reviews_cols__info {
  width: 32%;
  font-size: 16px;
}
.reviews_cols__key {
  font-weight: lighter;
}
.footer {
  background-image: url(../img/background.png);
  padding-bottom: 50px;
  padding-top: 5px;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer ul {
  list-style: none;
}
.footer__logo {
  background-color: #2F3C07;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.footer__logo img {
  max-width: 100%;
}
.footer__content {
  display: flex;
  width: 100%;
}
.footer__list {
  font-weight: lighter;
  font-size: 20px;
}
.footer__list a {
  color: #000;
  text-decoration: none;
}
.footer__list span {
  font-weight: bold;
}
.footer__list iframe {
  width: 100%;
  height: 284px;
}
.footer__col {
  padding-left: 5px;
  padding-right: 5px;
}
.footer__list--header {
  font-weight: bold;
}
.footer__col--company {
  width: 20%;
}
.footer__col--repairs {
  width: 23%;
}
.footer__col--cleaning {
  width: 26%;
}
.footer__col--contacts {
  width: 31%;
}
.feedback {
  align-items: center;
  justify-content: center;
}
.feedback .modal-title {
  color: #fff;
}
.feedback .modal-content {
  border: none;
}
.feedback .modal-header {
  background-color: #E46C00;
  border: none;
}
.feedback__form {
  padding: 40px;
  padding-bottom: 20px;
}
.feedback__input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
}
.feedback__btn {
  width: 100%;
  height: 40px;
  font-size: 20px;
}
.feedback__lable {
  font-weight: lighter;
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.feedback__lable::after {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #b8b8b8;
}
.feedback__checkbox {
  display: none;
}
.feedback__checkbox:checked ~ .feedback__lable::before {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/Vector3.svg);
  background-position: center;
  background-size: cover;
}
.scroll {
  background-image: url(../img/background.png);
  padding-bottom: 50px;
  padding-top: 50px;
}
.scroll__header {
  margin-bottom: 50px;
}
.scroll__header::before,
.scroll__header::after {
  width: 42%;
}
.scroll__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.scroll__list {
  display: flex;
  align-items: center;
  width: 48%;
}
.scroll__link {
  color: #000;
  width: 100%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 30px 10px 30px 114px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.scroll__link img {
  position: absolute;
  left: 28px;
}
.scroll__link:hover {
  text-decoration: none;
  color: #000;
}
.advantages {
  padding-bottom: 50px;
  padding-top: 50px;
}
.advantages .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages ul {
  list-style: none;
}
.advantages__left_content {
  width: 48%;
  background-image: url(../img/orang-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
  color: #fff;
  border-radius: 12px;
  padding: 5.5%;
  font-size: 25px;
}
.advantages__left_content span {
  font-weight: bold;
}
.advantages__right_content {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.advantages__top,
.advantages__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.advantages__center {
  display: flex;
  justify-content: center;
  width: 100%;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42%;
  text-align: center;
}
.advantages__img {
  width: 157px;
  height: 157px;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gostRemont {
  background-image: url(../img/background.png);
  padding-bottom: 50px;
  padding-top: 50px;
}
.gostRemont .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gostRemont__left_content,
.gostRemont__right_content {
  width: 48%;
}
.gostRemont__header {
  font-size: 88px;
  color: #E46C00;
}
.gostRemont__text--left {
  font-size: 35px;
}
.gostRemont__right_content {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 33px;
}
.gostRemont__text--right {
  width: 100%;
  height: 100%;
  border: 7px solid #FBEADB;
  border-radius: 6px;
  padding: 40px;
  font-size: 21px;
}
.gostRemont__text--right .bold {
  font-weight: bold;
}
.gostRemont__text--right .orange {
  color: #E46C00;
}
.request {
  padding-bottom: 50px;
  padding-top: 50px;
}
.request__form {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.request__top {
  width: 100%;
  background-color: #E46C00;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.request__header {
  font-size: 29px;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.request__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 12%;
  padding-top: 25px;
  padding-bottom: 40px;
}
.request__left {
  width: 48%;
  font-size: 30px;
}
.request__left .orange {
  color: #E46C00;
  font-weight: bold;
}
.request__right {
  width: 32%;
}
.request__right label {
  text-align: center;
  width: 100%;
  color: #E46C00;
  font-size: 16px;
}
.request__input {
  width: 100%;
  border: 1px solid #b3b3b3;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 15px;
}
.request__input::placeholder {
  color: #b3b3b3;
}
.request__btn {
  width: 100%;
  height: 48px;
  border-radius: 9px;
  font-size: 15px;
}
.examples__input_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}
.examples__btn_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.examples__btn_top {
  width: 32%;
  height: 48px;
  border-radius: 12px;
}
.examples__select {
  -webkit-appearance: none;
  width: 100%;
  padding-left: 20px;
  border-radius: 12px;
  height: 48px;
}
.examples__container {
  position: relative;
  width: 32%;
}
.examples__container::after {
  content: '';
  width: 33px;
  height: 17px;
  background-image: url(../img/right-arrow.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 21px;
  top: 50%;
  margin-top: -8px;
}
.contacts {
  background-image: url(../img/background.png);
}
.contacts__gradient {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(60deg, rgba(228, 108, 0, 0.85) 50%, rgba(228, 228, 228, 0) 50%);
}
.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contacts__left {
  width: 43%;
}
.contacts__right {
  width: 31%;
}
.contacts__header {
  text-align: center;
}
.contacts__header::after {
  background-color: #fff;
}
.contacts__list {
  padding-left: 40px;
  color: #fff;
  font-weight: normal;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contacts__list span {
  font-weight: bold;
}
.contacts__list::after {
  content: '';
  position: absolute;
  background-size: cover;
  background-position: center;
}
.contacts__adress::after {
  background-image: url(../img/location-pin-white.png);
  left: 5px;
  width: 15px;
  height: 22px;
}
.contacts__tel::after {
  background-image: url(../img/call-white.png);
  left: 3px;
  width: 19px;
  height: 19px;
}
.contacts__email::after {
  background-image: url(../img/email-white.png);
  left: 4px;
  width: 20px;
  height: 16px;
}
.contacts__maps {
  padding-left: 0;
}
.contacts__maps iframe {
  width: 100%;
}
.mistake {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/background.png);
}
.mistake__block {
  text-align: center;
}
.mistake__header {
  font-size: 276px;
  color: #e46c00;
  font-weight: bold;
  line-height: 200px;
}
.mistake__text {
  font-size: 48px;
  color: #e46c00;
  margin-bottom: 10px;
  font-weight: bold;
}
.mistake__text span {
  color: #000;
}
.mistake__btn {
  width: 100%;
  font-size: 21px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
}
.mistake__btn::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../img/left-arrow.png);
  background-size: cover;
  left: 20%;
}
.mistake__btn:hover:after {
  background-image: url(../img/left-arrow_black.png);
}
.baner_product {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/baner.png);
  background-position: center;
  background-size: cover;
}
.baner_product__header {
  width: 30%;
  font-size: 73px;
  line-height: 75px;
  color: #fff;
}
.baner_product__header span {
  font-size: 50px;
  line-height: 52px;
}
.baner_product__btn {
  width: 175px;
  height: 42px;
  border-radius: 10px;
}
.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 30px;
}
.breadcrumbs .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__left {
  display: flex;
  align-items: center;
  color: #5e5e5e;
}
.breadcrumbs__link {
  padding-right: 60px;
  position: relative;
  color: #5e5e5e;
}
.breadcrumbs__link:hover {
  color: #5e5e5e;
}
.breadcrumbs__link::after {
  content: '';
  width: 19px;
  height: 13px;
  right: 20px;
  top: 4px;
  position: absolute;
  background-image: url(../img/right-arrow_breadcrumbs.png);
  background-size: cover;
}
.breadcrumbs__link_back {
  padding-left: 30px;
  position: relative;
  color: #5e5e5e;
}
.breadcrumbs__link_back:hover {
  color: #5e5e5e;
}
.breadcrumbs__link_back::after {
  content: '';
  width: 19px;
  height: 13px;
  left: 0px;
  top: 2px;
  position: absolute;
  background-image: url(../img/right-arrow_breadcrumbs.png);
  background-size: cover;
  transform: rotate(180deg);
}
.prices__backgroun_img {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/background.png);
}
.prices__backgroun_color {
  margin-top: -25px;
  margin-bottom: 50px;
}
.prices__input_block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}
.prices__header::after,
.prices__header::before {
  width: 43%;
}
.prices__header_table {
  font-size: 27px;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
}
.prices__header_table span {
  font-weight: bold;
}
.prices__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.prices__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prices__list:nth-child(2n + 1) {
  background-color: #FDF3EB;
}
.prices__description {
  width: 70%;
  padding-left: 22px;
  font-size: 20px;
  font-weight: lighter;
}
.prices__measurement {
  width: 10%;
  border-left: 1px solid #E46C00;
  border-right: 1px solid #E46C00;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
}
.prices__value {
  width: 20%;
  text-align: center;
  font-weight: 500;
}
.allreviews {
  margin-bottom: 50px;
}
.allreviews__btn_container {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  position: relative;
}
.allreviews__btn {
  width: 230px;
  height: 100%;
  position: absolute;
  right: 0;
}
.allreviews__backgroun_img {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/background.png);
  margin-bottom: 25px;
}
.allreviews__card_review {
  padding: 45px;
  border: 2px solid #b8b8b8;
  border-radius: 5px;
  margin-bottom: 25px;
  position: relative;
}
.allreviews__card_review::after {
  content: '';
  width: 185px;
  height: 150px;
  background-image: url(../img/cavicon1.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 10px;
}
.allreviews__description {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.allreviews__name {
  font-size: 28px;
  font-weight: bold;
  width: 15%;
}
.allreviews__text {
  font-size: 16px;
  font-weight: lighter;
  width: 82%;
}
.allreviews__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.allreviews__info {
  font-size: 20px;
  font-weight: lighter;
}
.allreviews__info span {
  font-weight: bold;
}
.ourwork__background {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/background.png);
}
.ourwork__input_block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}
.ourwork__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.ourwork__list {
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  height: 275px;
  border-radius: 12px;
  margin-bottom: 40px;
}
.ourwork__left {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.ourwork__left img {
  height: 100%;
}
.ourwork__list_card {
  font-size: 13px;
  font-weight: lighter;
}
.ourwork__list_card span {
  font-weight: bold;
}
.ourwork__header__slide {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}
.ourwork__right {
  width: 50%;
  padding: 6%;
}
.ourwork__item_card {
  margin-bottom: 25px;
  list-style: none;
}
.ourwork__btn {
  font-weight: 500;
  font-size: 13px;
  border-radius: 5px;
  max-width: 276px;
  width: 100%;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.pagination__arrow {
  padding: 10px;
  font-size: 20px;
  color: #E46C00;
}
.pagination__arrow:hover {
  text-decoration: none;
  color: #000;
}
.pagination__container {
  display: flex;
  align-items: center;
}
.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 1px solid #E46C00;
  background-color: #fff;
  margin-left: 15px;
  color: #E46C00;
  border-radius: 10px;
}
.pagination__link:first-child {
  margin-left: 0;
}
.pagination__link:hover {
  background-color: #E46C00;
  color: #fff;
  text-decoration: none;
}
.pagination__link--active {
  background-color: #E46C00;
  color: #fff;
}
.infoblock {
  background-image: url(../img/background.png);
  padding-top: 50px;
  padding-bottom: 50px;
}
.infoblock__top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.infoblock__left,
.infoblock__right {
  width: 48%;
}
.infoblock__header {
  font-size: 48px;
  font-weight: bold;
}
.infoblock__text {
  font-weight: lighter;
}
.infoblock__text.black {
  font-size: 22px;
}
.infoblock__text span {
  font-weight: bold;
}
.infoblock__center {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.infoblock__orange_block {
  padding: 40px;
  background-image: url(../img/orang-background.png);
  background-size: cover;
  border-radius: 12px;
  position: relative;
}
.infoblock__text.white {
  font-size: 19px;
  color: #fff;
  margin-bottom: 20px;
}
.infoblock__item {
  padding-left: 20px;
}
.infoblock__list {
  color: #fff;
  font-weight: lighter;
  font-size: 19px;
  margin-bottom: 20px;
}
.infoblock__item_header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
  margin-bottom: 20px;
}
.infoblock__center .infoblock__number {
  position: absolute;
  right: -20px;
  bottom: 0;
  color: rgba(228, 228, 228, 0.4);
  font-size: 382px;
  line-height: 280px;
  font-weight: bold;
}
.infoblock__bottom {
  padding: 50px 200px;
  position: relative;
}
.infoblock__bottom .infoblock__number {
  position: absolute;
  left: -15px;
  bottom: 0;
  color: rgba(228, 228, 228, 0.4);
  font-size: 382px;
  line-height: 300px;
  font-weight: bold;
}
.formrequest {
  margin-top: 50px;
  margin-bottom: 50px;
}
.formrequest__container {
  border-radius: 12px;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.formrequest__left,
.formrequest__right {
  width: 50%;
  height: 100%;
  padding: 50px;
  background-image: url(../img/orang-background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.formrequest__left {
  color: #fff;
  font-size: 24px;
}
.formrequest__right {
  background-image: url(../img/background.png);
}
.formrequest__header {
  font-weight: 500;
  margin-bottom: 20px;
}
.formrequest__header span {
  font-weight: bold;
}
.formrequest__header_form {
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.formrequest__header_form span {
  font-size: 30px;
  font-weight: 500;
}
.formrequest__text {
  margin-bottom: 20px;
  font-weight: lighter;
}
.formrequest__text:last-child {
  margin-bottom: 0;
}
.formrequest__text span {
  font-weight: bold;
}
.formrequest__input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 15px;
  border: 1px solid #b8b8b8;
  text-align: center;
}
.formrequest__btn {
  width: 100%;
  height: 40px;
  font-size: 20px;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.43);
}
.formrequest__label {
  font-weight: lighter;
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.formrequest__label::after {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #b8b8b8;
}
.formrequest__checkbox {
  display: none;
}
.formrequest__checkbox:checked ~ .formrequest__label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/Vector3.svg);
  background-position: center;
  background-size: cover;
}
.allreviews__form {
  padding: 40px;
  padding-bottom: 20px;
}
.allreviews__input {
  width: 48%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 15px;
  border: 1px solid #b8b8b8;
}
.allreviews__input_name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.allreviews__textarea {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 15px;
  border: 1px solid #b8b8b8;
}
.allreviews__checkbox {
  display: none;
}
.allreviews__lable {
  font-weight: lighter;
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.allreviews__lable::after {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #b8b8b8;
}
.allreviews__btn_form {
  width: 100%;
  height: 40px;
  font-size: 20px;
}
.allreviews__checkbox:checked ~ .allreviews__lable::before {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/Vector3.svg);
  background-position: center;
  background-size: cover;
}
.allreviews__dialog {
  max-width: 65%;
}
.allreviews__input_block {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allreviews__info_block {
  display: flex;
  justify-content: center;
  width: 32%;
}
.allreviews__info_block__select {
  height: auto;
}
.allreviews__info_block__container {
  margin-left: 5px;
  width: 100%;
}
.allreviews__info_block__container::after {
  width: 20px;
  height: 10px;
  margin-top: -5px;
}
.allreviews__info_block__input {
  width: 90px;
  margin-left: 5px;
  margin-right: 5px;
}
.topinfo {
  margin-top: 30px;
  margin-bottom: 50px;
}
.topinfo__link_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.topinfo__link {
  font-size: 25px;
  height: 55px;
  width: 19%;
}
.topinfo__text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.topinfo__text span {
  font-weight: bold;
  display: block;
}
.product_calc {
  margin-top: 50px;
  margin-bottom: 50px;
}
.roduct_calc__form {
  box-shadow: 0px 3px 7.6px 0.4px rgba(0, 0, 0, 0.27);
  border-radius: 12px;
  border: 1px solid #dcdcdc;
  padding: 40px 6%;
}
.product_calc__block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.product_calc__container {
  display: flex;
  flex-direction: column;
  width: 26%;
}
.product_calc__container label {
  color: #E46C00;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-left: 8px;
}
.product_calc__input {
  width: 100%;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 13px;
}
.product_calc__input::placeholder {
  color: #dcdcdc;
}
.product_calc__value {
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
}
.product_calc__value div {
  width: 50%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.product_calc__value div span {
  border-bottom: 2px solid #E46C00;
}
.product_calc__value__text {
  color: #E46C00;
  font-weight: bold;
  font-size: 18px;
  width: 50%;
}
.product_calc__select select {
  width: 100%;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 13px;
  color: #dcdcdc;
}
.product_calc__select select option {
  color: #000;
}
.product_calc__submit {
  margin: 0 auto;
  margin-top: 40px;
  height: 57px;
  width: 340px;
  font-size: 20px;
}
.productprice {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/background.png);
}
.productprice__header {
  margin-bottom: 50px;
}
.productprice__header::after,
.productprice__header::before {
  width: 44%;
}
.productprice__item {
  list-style: none;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.21);
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.productprice__list {
  width: 33.33%;
  min-height: 107px;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 300;
}
.productprice__list span {
  font-weight: bold;
  width: 100%;
  display: block;
}
.productprice__list:nth-child(2n - 1) {
  background-color: #FEFAF7;
}
.productprice__btn {
  width: 340px;
  height: 52px;
  margin: 0 auto;
}
.addservices {
  margin-top: 50px;
  margin-bottom: 50px;
}
.addservices__header {
  margin-bottom: 50px;
}
.addservices__header::after,
.addservices__header::before {
  width: 29%;
}
.addservices__item {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.addservices__list {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.29);
  width: 30%;
}
.addservices__image {
  height: 238px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.addservices__image img {
  height: 100%;
}
.addservices__btn {
  margin: 25px;
  height: 56px;
  font-size: 20px;
}
.workexamples {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/background.png);
}
.workexamples__header {
  margin-bottom: 50px;
}
.workexamples__header::after,
.workexamples__header::before {
  width: 34%;
}
.workexamples__presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}
.workexamples__left {
  width: 78%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 630px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.14);
  background-color: #fff;
}
.workexamples__big_image {
  height: 100%;
}
.workexamples__right {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.workexamples__small_container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-top: 10px;
  position: relative;
}
.workexamples__small_container:first-child {
  margin-top: 0;
}
.workexamples__small_image {
  width: 100%;
  cursor: pointer;
  position: relative;
}
.shadow__block {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  opacity: 0.5;
}
.workexamples__small_container:hover .shadow__block {
  display: none !important;
}
.workexamples__info {
  display: flex;
  flex-direction: column;
  border: 5px solid #E46C00;
  border-radius: 12px;
  background-color: #ffffff;
}
.workexamples__info_header {
  height: 71px;
  background-color: #E46C00;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 28px;
  color: #ffffff;
}
.workexamples__item {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 42px;
  margin-bottom: 40px;
}
.workexamples__list {
  border-bottom: 5px solid #E46C00;
}
.workexamples__text {
  font-size: 30px;
  font-weight: bold;
}
.workexamples__text span {
  font-size: 18px;
  font-weight: 300;
  display: block;
  width: 100%;
}
.workexamples__btn {
  font-size: 25px;
  width: 340px;
  height: 57px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.workexamples__wrap {
  width: 100%;
  position: relative;
}
.workexamples__wrap .workexamples__next .arrow-right {
  width: 16px;
  height: 40px;
  background: url(../img/slide-arow-next.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 100%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
.workexamples__wrap .workexamples__prev .arrow-left {
  width: 16px;
  height: 40px;
  background: url(../img/slide-arow-prev.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
.workexamples__wrap .workexamples__prev {
  position: absolute;
  cursor: pointer;
  width: 50px;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 63%;
}
.workexamples__wrap .workexamples__next {
  position: absolute;
  cursor: pointer;
  width: 50px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 63%;
}
.workexamples__gallery {
  display: flex;
  flex-direction: column;
}
.header_page {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/background.png);
}
.product_examples {
  margin-top: 50px;
  margin-bottom: 50px;
}
.product_examples__header {
  margin-bottom: 40px;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
}
.product_examples__header span {
  font-weight: bold;
}
.product_examples__presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.product_examples__left {
  width: 78%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 630px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.14);
  background-color: #fff;
}
.product_examples__big_image {
  height: 100%;
}
.product_examples__slider {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product_examples__prev,
.product_examples__next {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product_examples__prev:hover,
.product_examples__next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.product_examples__prev {
  top: 0;
}
.product_examples__next {
  bottom: 0;
}
.product_examples__next:hover .arrow-bottom {
  border-top: 20px solid #fff;
}
.product_examples__prev:hover .arrow-top {
  border-bottom: 20px solid #fff;
}
.arrow-top {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgba(228, 228, 228, 0.3);
}
.arrow-bottom {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid rgba(228, 228, 228, 0.3);
}
.product_examples__slider_container {
  display: flex;
  flex-direction: column;
}
.description_product {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/background.png);
}
.description_product__header {
  width: 48%;
  font-size: 30px;
  margin-bottom: 30px;
}
.description_product__text {
  column-width: 48%;
  column-count: 2;
  column-gap: 4%;
}
.aboutus__item {
  column-width: 48%;
  column-count: 2;
  column-gap: 4%;
}
.otherprojects {
  margin-top: 50px;
  margin-bottom: 50px;
}
.otherprojects__header {
  margin-bottom: 50px;
}
.otherprojects__header::after,
.otherprojects__header::before {
  width: 34%;
}
.otherprojects__slider--items {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 8%;
  padding-right: 8%;
}
.otherprojects__list {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.29);
  width: 30%;
  margin-right: 5%;
}
.otherprojects__list:last-child {
  margin-right: 0;
}
.otherprojects__image {
  height: 238px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.otherprojects__image img {
  height: 100%;
}
.otherprojects__outside {
  padding: 20px;
}
.otherprojects__item_value {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
}
.otherprojects__text {
  font-size: 20px;
}
.otherprojects__text span {
  font-weight: bold;
  display: block;
  width: 100%;
}
.otherprojects__link {
  height: 54px;
}
.otherprojects__wrap {
  width: 100%;
  position: relative;
}
.otherprojects__wrap .otherprojects__prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.otherprojects__wrap .otherprojects__prev:hover .arrow-left {
  opacity: 1;
}
.otherprojects__wrap .otherprojects__prev .arrow-left {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-prev.png) center no-repeat;
  transform: translate(-50%);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.otherprojects__wrap .otherprojects__next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  right: 0;
}
.otherprojects__wrap .otherprojects__next:hover .arrow-right {
  opacity: 1;
}
.otherprojects__wrap .otherprojects__next .arrow-right {
  width: 34px;
  height: 86px;
  background: url(../img/slide-arow-next.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: -43px;
}
.hidden {
  display: none;
}
.min__block {
  position: absolute;
  zoom: 0.7;
  top: 0;
  width: 100%;
}
.min__block.left {
  left: -105%;
}
.min__block.right {
  right: -105%;
}
.reviews__prev.new {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 100%;
  left: -95%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.reviews__next.new {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  right: -95%;
}
.reviews__btn {
  width: 280px;
  height: 56px;
  margin: 0 auto;
}
